<!-- <app-loading></app-loading>
<div class="container-fluid">
    <h3>SUGESTÃO DO MODELO: {{this.sugestao}}</h3>

    <div class="bg-white p-2">
        <p class="subtitle mt-2">Probabilidade de subir</p>
        <div class="chart d-flex flex-row justify-content-center align-items-center align-content-between"
            style="height: 150px;">
            <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [fill]="chartOptions.fill"
                [colors]="chartOptions.colors" [stroke]="chartOptions.stroke">
            </apx-chart>
        </div>
    </div>



    <div class="sumary d-flex flex-row justify-content-center align-items-center align-content-between"
        style="height: 150px;">
        <table mat-table [dataSource]="dataSource " class="mat-elevation-z8">
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{ element.classe }} </td>
            </ng-container>

            <ng-container matColumnDef="precision">
                <th mat-header-cell *matHeaderCellDef> Precision </th>
                <td mat-cell *matCellDef="let element"> {{ element.precision?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="recall">
                <th mat-header-cell *matHeaderCellDef> Recall </th>
                <td mat-cell *matCellDef="let element"> {{ element.recall?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="f1Score">
                <th mat-header-cell *matHeaderCellDef> F1-Score </th>
                <td mat-cell *matCellDef="let element"> {{ element.f1score?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="support">
                <th mat-header-cell *matHeaderCellDef> Support </th>
                <td mat-cell *matCellDef="let element"> {{ element.classe == 'accuracy' ? element.support.toFixed(3) :
                    element.support ?? '-' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <div style="width: 150px;">
        <img [src]="getImageFromBase64(this.dadosModelo.result_lstm.confusion_matrix)" />
    </div>
</div> -->

<app-loading></app-loading>

<div class="container-fluid d-flex flex-column align-items-center gap-4 py-4">

    <!-- Sugestão do Modelo -->
    <div class="card-style text-center w-100">
        <h4 class=" text-warning m-0">SUGESTÃO DO MODELO: {{ sugestao }}</h4>
    </div>

    <!-- Gráfico de Probabilidade -->
    <div class="card-style w-100 d-flex flex-column align-items-center">
        <p class="subtitle mt-2 text-white">Probabilidade do modelo</p>
        <div class="chart d-flex justify-content-center align-items-center mb-2">
            <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke">
            </apx-chart>
        </div>
    </div>

    <!-- Tabela de Métricas -->
    <!-- Tabela de Métricas com Wrapper -->
    <!-- <div class="card-style table-wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef>Classe</th>
                <td mat-cell *matCellDef="let element"> {{ element.classe }} </td>
            </ng-container>

            <ng-container matColumnDef="precision">
                <th mat-header-cell *matHeaderCellDef>Precision</th>
                <td mat-cell *matCellDef="let element"> {{ element.precision?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="recall">
                <th mat-header-cell *matHeaderCellDef>Recall</th>
                <td mat-cell *matCellDef="let element"> {{ element.recall?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="f1Score">
                <th mat-header-cell *matHeaderCellDef>F1-Score</th>
                <td mat-cell *matCellDef="let element"> {{ element.f1score?.toFixed(2) ?? '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="support">
                <th mat-header-cell *matHeaderCellDef>Support</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.classe === 'accuracy' ? element.support.toFixed(3) : (element.support ?? '-') }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div> -->

    <div class="div-pai card-style">
        <div class="mat-table-container small-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef>Classe</th>
                    <td mat-cell *matCellDef="let element"> {{ element.classe }} </td>
                </ng-container>

                <ng-container matColumnDef="precision">
                    <th mat-header-cell *matHeaderCellDef>Precision</th>
                    <td mat-cell *matCellDef="let element"> {{ element.precision?.toFixed(2) ?? '-' }} </td>
                </ng-container>

                <ng-container matColumnDef="recall">
                    <th mat-header-cell *matHeaderCellDef>Recall</th>
                    <td mat-cell *matCellDef="let element"> {{ element.recall?.toFixed(2) ?? '-' }} </td>
                </ng-container>

                <ng-container matColumnDef="f1Score">
                    <th mat-header-cell *matHeaderCellDef>F1-Score</th>
                    <td mat-cell *matCellDef="let element"> {{ element.f1score?.toFixed(2) ?? '-' }} </td>
                </ng-container>

                <ng-container matColumnDef="support">
                    <th mat-header-cell *matHeaderCellDef>Support</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.classe === 'accuracy' ? element.support.toFixed(3) : (element.support ?? '-') }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </div>


    <!-- Imagem da Matriz de Confusão -->
    <div class="card-style text-center p-2">
        <p class="text-white">Matriz de Confusão</p>
        <img class="img-fluid rounded" style="max-width: 300px;"
            [src]="getImageFromBase64(dadosModelo.result_lstm.confusion_matrix)" />
    </div>
</div>