.container {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.subtitle {
    font-size: 0.9rem;
    color: gray;
}

.summary {
    text-align: left;
    margin-top: 1rem;

    p {
        font-size: 0.9rem;
        margin: 0.25rem 0;
    }
}