/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/bg-btc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}